<nav class="flirty-nav">
    <a class="flirty-brand" href="">Flirty Designer</a>
    <div class="flirty-nav-links">
        <NavLink class="flirty-nav-link" href="connections">
            Verbindungen
        </NavLink>
        <NavLink class="flirty-nav-link" href="dialogs">
            Dialoge
        </NavLink>
    </div>
</nav>
