@page "/"

<PageTitle>Flirty Designer</PageTitle>

<h1>Flirty Designer</h1>

<p>
    Willkommen im Flirty-Designer. Hier konfigurierst du Dialoge und verwaltest die Datenbank-Verbindungen.
</p>

<p>
    Lege zuerst unter <a href="connections">Verbindungen</a> ein Connection-Profil an, teste es und
    aktiviere es. Die weiteren Editoren (Dialoge, Fragen, Branching …) folgen in späteren Ausbaustufen.
</p>
