@page "/"

<PageTitle>Flirty Designer</PageTitle>

<h1>Flirty Designer</h1>

<p>
    Willkommen im Flirty-Designer. Hier konfigurierst du Dialoge und verwaltest die Datenbank-Verbindungen.
</p>

<p>
    Lege zuerst unter <a href="connections">Verbindungen</a> ein Connection-Profil an, migriere es und
    aktiviere es. Danach verwaltest du unter <a href="dialogs">Dialoge</a> deine Dialoge (anlegen,
    bearbeiten, veröffentlichen, löschen).
</p>

<p>
    Die weiteren Editoren (Fragen, Branching, Loops, Trigger, Test-Runner) folgen in späteren
    Ausbaustufen.
</p>
